@font-face {
    font-family: 'Figtree'; /* Donnez un nom à votre police */
    src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype'); /* Spécifiez le chemin d'accès à votre fichier TTF */
    font-weight: oblique; /* Poids de la police */
    font-style: normal; /* Style de la police (normal, italique, oblique, etc.) */
  }
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {

    background-color: hsl(47, 88%, 63%);
    margin: auto ;
    font-size: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 50%);
    font-family: 'Figtree';
    
}

.contenaire {
    width: 375px;
    background-color:  hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: hsl(0, 0%, 7%) 15px 15px 0px;
    border: 1px solid black;

    
}
.contenaire > * {
    margin-bottom: 20px;
}
.image-article{
    border-radius: 20px;
}
.cathegorie{
    background-color: hsl(47, 88%, 63%);
    align-self: flex-start;
    border-radius: 5px;
    padding: 5px 20px;
}
.publish{
    color: hsl(0, 0%, 7%); 
}
.content{
    padding-right: 20px;
}
.title{
    font-size: 20px;
}
.title, .cathegorie,.profile-name {
    font-weight: 800;
    color: hsl(0, 0%, 7%);

}
.profile {
    display: flex;
    align-items: center;
}
.profile > * {
    margin-right: 20px;
}
.profile-image{
    width: 35px;
}